body
{
    margin: 0px;
    width: 100%;
}
.firstbody {
    width: 100%;
}
#maindiv {
    margin-left: 2%;
    margin-right: 2%;
    /* text-align: center; */
}
/* HR TAG */
#firsthr
{
  background-color:#C2331A;
  height:38px;
  width: 100%;
}
#secondhr
{
  background-color: #C2331A;
  height: 3px;
  margin-top: -21px;
  width: 71%;
  padding: left;
  float: left;
  margin-left: 441px
}
#thirdhr
{
  background-color: #C2331A;
    float: left;
  height: 3px;
  margin-top: -21px;
  width: 71%;
  padding: left;
  margin-left: 441px
}
#fourthhr
{
      float: left;
  background-color: #C2331A;
  height: 3px;
  margin-top: -21px;
  width: 71%;
  padding: left;
  margin-left: 441px
}
#fifthhr
{
      float: left;
  background-color: #C2331A;
  height: 3px;
  margin-top: -21px;
  width: 71%;
  padding: left;
  margin-left: 441px

}
#sixhr
{
  background-color:#C2331A;
  height:38px;
  width: 100%;
}
/* HR TAG <- */

/*images -> */
#profileimage {
    border-radius: 50%;
    background-color:#C2331A;
    height: 267px;
    margin-left: 80px;
    margin-top: 50px;
}
/*images <- */

#lablefirst
{
   font-size:36px;
   margin-top: 74px;
   margin-left: 241px;
   font-family:'Gruppo', cursive;
}
.classfirst
{
  margin-top: -270px;
  margin-left: 479px;
}
.classsecond {
    /* font-size: 21px; */
    font-size: 20px;
        margin-top: -170px;
    margin-left: 1080px;
    font-family: 'Stint Ultra Expanded', cursive;


}
.classthird
 {
    margin-top: 146px;
}
.classfourth
{
    margin-left: 516px;
    font-size: 30px;

}
#phonelable {
    margin-left: 132px;
    margin-top: -31px;
}
#email {
    margin-top: 20px;
    margin-left: 10;
    margin-bottom: 31px;
}
#website {
    margin-top: 23px;
    margin-left: 23px;
}
/*class first -> */
#lableten
{
   font-size: 100;
  font-family: 'Saira Extra Condensed', sans-serif;
}

#lableoneone
{
  font-size: 100;
  color: #C2331A;
  font-family: 'Saira Extra Condensed', sans-serif;

}
#lableonetwo
{
  font-size: 26;
  font-family: 'Krona One', sans-serif;
}
/*class first <- */

#profilelable
{

    float: left;
  font-size: 40px;
  margin-left: 267px;

}
#personaldetailslable {
    float: left;
    font-size: 40px;
    margin-left: 46px;
}
#technicalskilllable {
    float: left;
    font-size: 40px;
    margin-left: 51px;
}
#educationlable {
    float: left;
    font-size: 40px;
    margin-left: 195px;
}
#datapersonaldetails {
     margin-left: 492px;
    font-size: 23px;
}
#datatechnical {
    margin-left: 490px;
    font-size: 23px;
}
#dataeducation {
    margin-left: 532px;
    font-size: 24px;
        margin-top: -285px;
    margin-bottom: 103px;
}
#degree {
  font-size: 34px;
  margin-left: 174px;
margin-top: 115px;
  font-family: 'Pavanam', sans-serif;
}
#lablegaonkar {
    margin-top: -72px;
}
#lablesoftware {
    margin-top: -33px;
}
