body
{
    margin: 0px;
    width: 100%;
}
.firstbody {
    width: 100%;
}
#maindiv {
    margin-left: 2%;
    margin-right: 2%;
    /* text-align: center; */
}
/* HR TAG */
#firsthr
{
  background-color:#C2331A;
  height:38px;
  width: 100%;
}
#secondhr
{
  background-color: #C2331A;
  height: 3px;
  margin-top: -33px;
  width: 71%;
  padding: left;
  float: left;
  margin-left: 441px
}
#thirdhr
{
      MARGIN-BOTTOM: 37px;
  background-color: #C2331A;
    float: left;
  height: 3px;
  margin-top: -33px;
  width: 71%;
  padding: left;
  margin-left: 441px
}
#fourthhr
{
      float: left;
  background-color: #C2331A;
  height: 3px;
  margin-top: -33px;
  width: 71%;
  padding: left;
  margin-left: 441px
}
#fifthhr
{
      float: left;
  background-color: #C2331A;
  height: 3px;
  margin-top: -33px;
  width: 71%;
  padding: left;
  margin-left: 441px

}
sixhr {
    margin-top: 30%;
}


#sixhr
{

  background-color:#C2331A;
  height:38px;
  width: 100%;
}
/* HR TAG <- */

/*images -> */
#profileimage {
    border-radius: 50%;
    background-color:#C2331A;
    height: 267px;
    margin-left: 110px;
    margin-top: 50px;
}
/*images <- */

#lablefirst
{
   font-size:36px;
   margin-top: 74px;
   margin-left: 241px;
   font-family:'Gruppo', cursive;
}
.classfirst
{
  margin-top: -270px;
  margin-left: 479px;
}
.classsecond {
    /* font-size: 21px; */
    font-size: 20px;
        margin-top: -170px;
    margin-left: 1080px;
    font-family: 'Stint Ultra Expanded', cursive;


}
.classthird
 {
    margin-top: 146px;
}
.classfourth {
    font-family: 'Stint Ultra Expanded', cursive;
    margin-left: 516px;
    font-size: 26px;
}
#phonelable {
    margin-left: 132px;
    margin-top: -31px;
}
#email {
    margin-top: 20px;
    margin-left: 10;
    margin-bottom: 31px;
}
#website {
    margin-top: 23px;
    margin-left: 23px;
}
/*class first -> */
#lableten
{
   font-size: 100;
  font-family: 'Saira Extra Condensed', sans-serif;
}

#lableoneone
{
  font-size: 100;
  color: #C2331A;
  font-family: 'Saira Extra Condensed', sans-serif;

}
#lableonetwo
{
  font-size: 26;
  font-family: 'Krona One', sans-serif;
}
/*class first <- */

#profilelable
{

    float: left;
  font-size: 40px;
  margin-left: 267px;
  font-family: 'Saira Extra Condensed', sans-serif;

}
#personaldetailslable {
    float: left;
    font-size: 40px;
    margin-left: 150px;
    font-family: 'Saira Extra Condensed', sans-serif;
}
#technicalskilllable {
    float: left;
    font-size: 40px;
    margin-left: 165px;
    font-family: 'Saira Extra Condensed', sans-serif;
}
#educationlable {
    float: left;
    font-size: 40px;
    margin-left: 239px;
    font-family: 'Saira Extra Condensed', sans-serif;
}
#datapersonaldetails {
  font-family: 'Stint Ultra Expanded', cursive;
     margin-left: 492px;
      font-size: 20px;
}
#datatechnical {
  font-family: 'Stint Ultra Expanded', cursive;
    margin-left: 490px;
      font-size: 20px;
}
#dataeducation {
  font-family: 'Krona One', sans-serif;
    margin-left: 532px;
      font-size: 20px;
        margin-top: -230px;
    margin-bottom: 103px;
}
#sinlab {
    margin-bottom: 50px;
}
#instlab {
    margin-bottom: 50px;
}
#engglable {
    margin-left: 17px;
}
#degree {
  color: #C2331A;
  font-size: 25px;
  margin-left: 174px;
margin-top: 115px;
  font-family: 'Pavanam', sans-serif;
}
#bepluslable {
    margin-left: -54px;
}
#diplomalable {
    margin-left: -104px;
    margin-top: 25px;
}
#ssclab {
    margin-left: 119px;
    margin-top: 22px;
}
#lablegaonkar {
    margin-top: -72px;
}
#lablesoftware {
    margin-top: -33px;
}

div#informationlable {
    margin-left: 69px;
}
a {
    margin-left: 27%;
    /* margin-top: 11%; */
}
hr#sixhr {
    margin-top: 30%;
}
